<div class='w3-bar'>
  <a class='w3-bar-item w3-button' href='/about/aboutus'>{{ 'aboutus' | translate }}</a>
  <a class='w3-bar-item w3-button w3-hide-small' href='/about/people'>{{ 'people' | translate }}</a>
  <a class='w3-bar-item w3-button w3-hide-small' href='/about/articles?filter=all'>{{ 'articles' | translate }}</a>
  <a class='w3-bar-item w3-button w3-hide-small' href='/about/clients'>{{ 'clients' | translate }}</a>
  <a class='w3-bar-item w3-button w3-hide-small' href='/about/photos'>{{ 'photos' | translate }}</a>
  <a class='w3-bar-item w3-button w3-hide-small' href='/about/contact'>{{ 'contact' | translate }}</a>
  <a class='w3-bar-item w3-button w3-hide-small' href='/about/press'>{{ 'press' | translate }}</a>
  <a class='w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium' href='javascript:void(0)' onclick='openNavabout()'>&#9776;</a>
</div>
<div class='w3-bar-block w3-hide w3-hide-large w3-hide-medium' id='navabouticon'>
  <a class='w3-bar-item w3-button' href='/about/aboutus'>{{ 'aboutus' | translate }}</a>
  <a class='w3-bar-item w3-button' href='/about/people'>{{ 'people' | translate }}</a>
  <a class='w3-bar-item w3-button' href='/about/articles?filter=all'>{{ 'articles' | translate }}</a>
  <a class='w3-bar-item w3-button' href='/about/clients'>{{ 'clients' | translate }}</a>
  <a class='w3-bar-item w3-button' href='/about/photos'>{{ 'photos' | translate }}</a>
  <a class='w3-bar-item w3-button' href='/about/contact'>{{ 'contact' | translate }}</a>
  <a class='w3-bar-item w3-button' href='/about/press'>{{ 'press' | translate }}</a>
</div>
